* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
}

.container-login {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 80px;

  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e3a8a,
      #2563eb
    );
}

.left-login {
  color: white;
  max-width: 500px;
}

.left-login h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.left-login p {
  font-size: 22px;
  line-height: 35px;
}

.card-login {
  width: 400px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(10px);

  padding: 40px;

  border-radius: 24px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  border: 1px solid rgba(255,255,255,0.2);

  box-shadow:
    0 8px 32px rgba(0,0,0,0.3);
}

.card-login h2 {
  color: white;
  font-size: 32px;
}

.card-login input {
  padding: 16px;

  border: none;
  border-radius: 12px;

  outline: none;

  background: rgba(255,255,255,0.15);

  color: white;

  font-size: 16px;
}

.card-login input::placeholder {
  color: rgba(255,255,255,0.7);
}

.card-login button {
  padding: 16px;

  border: none;
  border-radius: 12px;

  background: white;

  color: #1e3a8a;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.card-login button:hover {
  transform: translateY(-2px);
}.register-text {
  color: white;
  text-align: center;
}

.register-text a {
  color: #93c5fd;
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}
